{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <section class="page-card">
        <div class="page-header">
            <div>
                <h1>Nouvel article</h1>
                <p class="page-intro">Ajoutez un article avec ses informations principales.</p>
            </div>
        </div>

        {{ include('index/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        <div class="actions">
            <a class="btn btn-secondary" href="{{ path('app_index_index') }}">Retour a la liste</a>
        </div>
    </section>
{% endblock %}
